@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?hkk6gu');
	src:url('fonts/icomoon.eot?#iefixhkk6gu') format('embedded-opentype'),
		url('fonts/icomoon.woff?hkk6gu') format('woff'),
		url('fonts/icomoon.ttf?hkk6gu') format('truetype'),
		url('fonts/icomoon.svg?hkk6gu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
	content: "\e600";
}
.icon-stack:before {
	content: "\e601";
}
.icon-bars:before {
	content: "\e602";
}
.icon-fire:before {
	content: "\e603";
}
.icon-lightning:before {
	content: "\e604";
}
.icon-blocked:before {
	content: "\e605";
}

.spacer{
	height: 30px;
}

.spacer2{
	height: 20px;
}

.spacer3 {
	height: 20px;
	border-bottom: 1px solid #d0e0e3; 
}

#list_components {
	width:800px;
	height:500px;
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	background:#fff;
}

.header-map-detil {
	border-bottom: 1px solid #d0e0e3;
	vertical-align: center;
}

.status-haccode {
	padding: 9px;
	border-right: 1px solid #d0e0e3;
	max-width: 150px;
}

.status-haccode h2 {
	font-size:26px;
	color: #3d3d3d;
	font-family: 'Open Sans', sans-serif;
	line-height: 26px;
}

.title-condition {
	padding: 9px;
	border-right: 1px solid #d0e0e3;
}
.title-condition h2 {
	font-size:26px;
	color: #3d3d3d;
	font-family: 'Open Sans', sans-serif;
	line-height: 26px;
}

.status-sever {
	padding: 9px;
	border-right: 1px solid #d0e0e3;
	max-width: 67px;
}

.inspection {
	padding: 25px 9px 9px 9px;
	border-right: 1px solid #d0e0e3;
	max-width: 175px;
}

.inspection_cat {
	margin: 30px auto 15px auto;
	text-align: center;
}

.inspection_cat a{
	color: #333;
}

.inspection_cat a:hover{
	color: #005580;
	text-decoration: none;
}

.inspection_cat_d {
	margin: 0px 20px 0px 0px;
}

.red {
	background-color: #ff0024;
	border-radius: 5px;
	border-bottom: #d10e00 solid 4px;
	width:37px;
	height:32px;
	padding:5px;
}

.yellow {
	background-color: #ffe011;
	border-radius: 5px;
	border-bottom: #dec311 solid 4px;
	width:37px;
	height:32px;
	padding:5px;
}

.green {
	background-color: #89d91d;
	border-radius: 5px;
	border-bottom: #69a813 solid 4px;
	width:37px;
	height:32px;
	padding:5px;
}

#pic-container {
	border-right: 1px solid #d0e0e3;
	padding: 13px 9px 9px 9px;
	height: 42px;
	margin: auto;
}

#pic-container .thumb {
	border: 2px solid #888d8e;
	border-radius: 3px;
	width: 35px;
	height: 35px;
	float: left;
	margin-right: 5px;
}

#pic-container .name {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#3d3d3d;
	font-weight: 100;
}

#pic-container .nip {
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	color:#3d3d3d;
	font-weight: 100;
}

#pic-container .name {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#3d3d3d;
	font-weight: 100;
}

#pic-container .nip {
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	color:#3d3d3d;
	font-weight: 100;
}

.back-btn {
	text-align: right;
	padding: 17px 9px 9px 9px;
}

.jump-btn {
	float: left;
	padding: 17px 9px 9px 9px;
}

.icon-inspection {
	font-size: 24px;
	margin-right: 10px;
}

.icon-inspection-top {
	font-size: 24px;
	margin-right: 20px;
}
.first {
	float: left;
	min-width: 150px;
}

.second {
	margin-left: 15px;
	min-width: 150px;
}

.sparepart {
	color: #3d3d3d;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

.sparepart  h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 100;
}

.kiln {
	text-align: center;
	margin: 0 auto 30px auto;
}

.stack {
	text-align: center;
	margin: 0 auto 0 auto;
}

#area-sum {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

#area-sum h3{
	font-size: 20px;
	margin-top: -12px;
}

#area-sum ul {
	margin: 0 0 10px 0px;
}

#area-sum ul > li {
	list-style:none;
	display:inline;
	line-height: 52px;
}

#area-sum .b-red a{
	background-color: #ff0024;
	border-radius: 5px;
	border-bottom: #d10e00 solid 4px;
	width:37px;
	height:32px;
	padding:12px;
	color: #fff;
}

#area-sum .b-red a:hover{
	background-color: #f70023;
	border-bottom: #c80d00 solid 4px;
	text-decoration:none;
}

#area-sum .b-yellow a{
	background-color: #ffe011;
	border-radius: 5px;
	border-bottom: #dec311 solid 4px;
	width:37px;
	height:32px;
	padding:12px;
	color: #574c00;
}

#area-sum .b-yellow a:hover{
	background-color: #f4d507;
	border-bottom: #d2b910 solid 4px;
	text-decoration:none;
}

#area-sum .b-green a{
	background-color: #89d91d;
	border-radius: 5px;
	border-bottom: #69a813 solid 4px;
	width:37px;
	height:32px;
	padding:12px;
	color: #fff;
}

#area-sum .b-green a:hover{
	background-color: #84d01d;
	border-bottom: #629d11 solid 4px;
	text-decoration:none;
}